.navigation {
    background-color:  rgba(231, 222, 222, 0.678);
    box-shadow: 4px 4px 12px rgba(3, 2, 2, 0.116);
    padding: 20px;
}

.navigation__list {
    list-style: none;
    text-align: center;
}

.navigation__link {
    color: rgb(11, 49, 31);
    text-decoration: none;
    font-weight: bold;
}

.navigation__link:hover {
    color: rgb(83, 153, 116);
    border-bottom: 1px solid;
}