.section {
    background: rgba(231, 222, 222, 0.678);
    box-shadow: 4px 4px 12px rgba(3, 2, 2, 0.116);
}

.section__header {
    background-color: #87847e61;
    text-align: center;
}

.section__work {
    color: black
}